Repository tensorflow/model-card-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @codesue, @casassg, @ahmed-bd, @hanneshapke, @rcrowe-google, @deutranium

CODEOWNERS:

# Global owners for the Model Card Toolkit
* @codesue @casassg @ahmed-bd @hanneshapke

# Community standards (Core members)
/CONTRIBUTING.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/README.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/CODE_OF_CONDUCT.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium

# PyPI distribution files (Core members)
/model_card_toolkit/__init__.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/model_card_toolkit/dependencies.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/model_card_toolkit/version.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/package_build/ @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/proto_build/ @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/setup.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/WORKSPACE @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/RELEASE.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium

# CI/CD configuration (Release team)
/.github/workflows/ @casassg @codesue @hanneshapke
/.github/ci/  @casassg @codesue @hanneshapke

Test absl, tfdv, tfma install order
  model_card_toolkit/dependencies.py
Owners: @rcrowe-google, @casassg, @hanneshapke, @codesue, @ahmed-bd, @deutranium

Revert after testing CI
  model_card_toolkit/dependencies.py
Owners: @rcrowe-google, @casassg, @hanneshapke, @codesue, @ahmed-bd, @deutranium

Test all package without all extra
  model_card_toolkit/dependencies.py
Owners: @rcrowe-google, @casassg, @hanneshapke, @codesue, @ahmed-bd, @deutranium

Install docs after tensorflow in all package
  model_card_toolkit/dependencies.py
Owners: @rcrowe-google, @casassg, @hanneshapke, @codesue, @ahmed-bd, @deutranium

Omit docs dependencies from all extra
  model_card_toolkit/dependencies.py
Owners: @rcrowe-google, @casassg, @hanneshapke, @codesue, @ahmed-bd, @deutranium

Add v3 migration guide
  model_card_toolkit/documentation/README.md
  model_card_toolkit/documentation/guide/_toc.yaml
  model_card_toolkit/documentation/guide/concepts.md
  model_card_toolkit/documentation/guide/migration.md
  model_card_toolkit/documentation/guide/templates.md
Owners: @codesue, @casassg, @ahmed-bd, @hanneshapke

Change function name
  model_card_toolkit/core.py
  model_card_toolkit/dependencies.py
  model_card_toolkit/dependencies_test.py
Owners: @codesue, @casassg, @ahmed-bd, @hanneshapke, @rcrowe-google, @deutranium
